extends layout

block content
  .container-fluid.h-100.mb-5
    .row.h-100
      .col-sm-10.h-sm-100#game-board-container
        h1.display-5.text-center.mt-5 Welcome to #{title}
        .mt-3.mb-5.text-center 
        //-   button.btn.btn-primary.mx-2 Reset Game
        //-   button.btn.btn-primary.mx-2 Reset Game
        //-   button.btn.btn-primary.mx-2 Reset Game
        //-   button.btn.btn-primary.mx-2 Reset Game
        .container.d-flex.flex-column
          .row.g-3#game-board
            - let x = 0;
            while x < numCards 
              .col-3(class=`order-${x % 4 + 1}`)
                .memory-card(id=`card-${++x}`)
                  .card-back.card-front.mx-auto
      .col-sm-2.p-0.h-sm-100.bg-dark.text-light#score-keeper
        h2.display-5.text-center.my-4.py-1 Score Keeper
        .d-flex.flex-column.align-items
          .score-item.text-center.my-2.py-2#timer 
            h3.display-6.my-0 Time
            span#minutes.fs-2 00
            span.fs-2 :
            span#seconds.fs-2 00
          .score-item.text-center.my-2.py-2#next-shuffle
            h3.display-6.my-0 Next Shuffle 
            i.my-1.fas.fa-3x
          .score-item.text-center.my-2.py-2#turns 
            h3.display-6.my-0 Turns 
            span.fs-2 0
          .score-item.text-center.my-2.py-2#matches 
            h3.display-6.my-0 Matches 
            span.fs-2 0
          .score-item.text-center.my-2.py-2#shuffles 
            h3.display-6.my-0 Shuffles 
            span.fs-2 0
    script(type="text/javascript").
      const numCards = #{numCards};
    script(type="text/javascript" src="/javascripts/memory.js")